body{
	font-family: Helvetica;
	background-color: #0037ff;
}

header{
	text-align: center;
	background-image: url('././images/hockey_rink_topdown.png');
	background-repeat: no-repeat;
	background-position: center top;
	height: 110px;
	padding-top: 63px;
	font-size: 24pt;
	font-weight: bold;
}

.nav {
    background-color: #00faff;
    overflow: hidden;
    font-size: 18pt;
}

.nav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
		margin-left: 5%;
    padding: 5px 50px 5px 50px;
    text-decoration: none;
}

.nav a:hover {
    font-weight: bold;
}

.nav .icon{
	display: none;
}

@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {display: none;}
	.nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

content{
	background-color: #ffffff;
}

h1{
	color: #000000;
	text-align: center;
}

p{
	color: #000000;
}

footer{
	
]